.nav1-text-style{
    color: white; 
    font-family: "Source Sans Pro", sans-serif;
    font-size: 2vh;
}

.nav2-left-style{
    color: white; 
    font-family: "Source Sans Pro", sans-serif;
    padding: 2vh 1vw;
}

