@import url("https://fonts.googleapis.com/css2?family=Lato&family=Source+Sans+Pro:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
  background-color: #d4dbf7;
}
header {
  height: 18vh;
  overflow: hidden;
}
header .nav1 {
  background: #131921;
  display: flex;
  flex-direction: row;
}
header .nav1 .nav1left {
  display: flex;
  flex-direction: row;
}
header .nav1 .logo {
  height: 6vh;
  width: 12vw;
  margin: 3vh 1vw 0vh 1vw;
}
header .nav1 .nav1left .address {
  display: flex;
  width: 11vw;
  margin: 3.3vh 1vw 0vh 1vw;
}
header .nav1 .nav1left .address .location {
  height: 4vh;
  align-items: flex-end;
}
.nav1 .nav1center {
  display: flex;
  flex-direction: row;
  height: 10vh;
  align-items: center;
}
.nav1 .nav1center .searchbar {
  width: 36vw;
  height: 6vh;
  margin: 0vh 0vw 0vh 1vh;
}
.nav1 .nav1center .searchicon {
  height: 6.4vh;
  width: 3vw;
}
.nav1 .nav1right {
  display: flex;
  flex-direction: row;
}
.nav1 .nav1right .flag {
  width: 2vw;
  height: 3vh;
  margin: 4vh 2vw 2vh 3vw;
}
.nav1 .nav1right .SignIn {
  margin: 3vh 1vw 2vh 0vw;
  width: 9vw;
}
.nav1 .nav1right .Returns {
  margin: 4vh 2vw 2vh 1vw;
}
.nav1 .nav1right .cart {
  height: 10vh;
  width: 10vh;
  margin: 1vh 0vw 0vh 0vw;
}
header .nav2 {
  display: flex;
  background-color: #232f3e;
  color: white;
  height: 7vh;
  position: relative;
}
.nav2 .nav2left {
  display: flex;
}
.nav2 .nav2left .nav2lefta {
  display: flex;
}
.nav2 .nav2left .nav2leftb {
  display: flex;
}
main .main-img {
  width: 100vw;
  height: 67vh;
}
.card-holder {
  display: flex;
  flex-wrap: wrap;
}
main .card {
  width: 20vw;
  padding: 4vh 2vw;
}
main .card .card-head {
  width: 20vw;
  background-color: white;
}
main .cards {
  display: flex;
  flex-wrap: wrap;
  width: 20vw;
  background-color: white;
}
body main .cards .card-items {
  padding: 0vh 0.5vw;
}
footer {
  background-color: #131921;
  color: white;
  font-family: "Lato", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7vh;
}
